{% extends 'bootstrap/base.html' %}

{% block title %}
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
             <title>Страница</title>
        {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-static">
        <div class="container-fluid">
            <div class="collapse navbar-collapse js-navbar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Начальная страница</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('login') }}">Вход</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% block app_content %}{% endblock %}
{% endblock %}